html {
  background-image:url(https://s.yimg.com/fz/api/res/1.2/ExUxVfE1cK1SHondbfRTPg--/YXBwaWQ9c3JjaGRkO2g9MzQzO3E9OTU7dz0zMzU-/http://localcontent.zenfs.com/80ad/80ad369d1da8ce090f901568b7897af1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  font-family: Verdana;
}
form {
  margin: 30px;
}

label {
  color: blue;
}
legend {
  color: blue;
}

::-webkit-input-placeholder {
   color: red;
}

:-moz-placeholder { /* Firefox 18- */
   color: red;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: red;
}

:-ms-input-placeholder {
   color: red;
}

input, textarea {
  background-color: Transparent;
}


fieldset {
  border-color: red;
  width: 50%;
}

#text {
  border-color: red;


}

#email {
  border-color: red;


}
#phone-number {
  border-color: red;

}

#password {
  border-color: red;

}

#area {
  border-color: red;
}
#submit {
  border-color: red;
}
#phone {
  border-color: red;
}
#color {
  border-color: red;
}
#phone, #phone + input {
  width: 60px;
}

#textarea {
  display: flex;
}
