@keyframes myanimation {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(2) rotate(180deg);
  }
  100%{
    transform: scale(1) rotate(360deg);
  }
}

figure img {
  transition: border-radius 500ms;
}

figure:hover img {
  border-radius: 100%;
  transition: border-radius 500ms;
  animation: myanimation 3s;
}
