body {
  margin: 0;
  background-color: #ccc;
}

nav li {
  display: inline-block;
}

section {
  padding: 150px 10%;
  background-image:url(http://unsplash.it/750/750);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: white;
}



footer {
  background-color: darkgrey;
  padding: 50px 10%;
}
